:root{
  --light-gray : rgb(233, 232, 230);  /*background*/
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: var(--light-gray);
}

li{
  list-style: none;
}

body{
  font-family: 'Quicksand', sans-serif;
  background-color: var(--light-gray);
  height: 100%;
}

@media (max-width: 1260px){
  body{
      background-size:  100% 20%;
  }
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header{
  position: absolute;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 1260px){
  header{
    flex-wrap: wrap;
  }
}

.logo{
  width: 10vw;
  
}

@media (max-width: 1260px){
  .logo{
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 105px;
}

@media (max-width: 1260px){
  .logo img{
    margin: 0 auto;
  }
}

nav{
  font-weight: 400;
}

@media (max-width: 1260px){
  nav{
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li{
    padding-bottom: 5px;
    
  }
}

nav > ul{
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1260px){
  nav > ul{
    flex-direction: column;
  }
}

.text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-bottom: 1em;
}

@media (max-width: 1260px){
  .text{
      width: 100%;
      margin-left: 0;
      margin-top: 16em;

  }
}

.images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-izq{
   margin-right: 30em;
   padding-bottom: 2em;
}

@media (max-width: 1260px){
    #img-izq{
      margin-right: 0;
    }
}

.img img{
   width: 240px;
   height: 360px;
}



.parrafo1{
  padding: 100px 60px 20px 60px;
}

.parrafo2{
  padding: 50px 60px 20px 60px;
}



footer{
  text-align: center;
  margin-bottom: 2em;
}

footer a{
  text-decoration:underline;
}

footer a:hover{
  color: black;
  text-decoration: none;
}
